body {
    background: linear-gradient(180deg, #87CEEB, #FFD8A8);
    min-height: 100vh; /* Ensure full height is covered */
    margin: 0; /* Remove default margin */
    scrollbar-color:'rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0)';
}
  